<% include _head.ejs %>
<% include _header.ejs %>

<h1>This is home page.</h1>

<a href="/register" class="btn btn-primary" role="button">REGISTER</a>
<a href="/login" class="btn btn-primary" role="button">LOGIN</a>
<a href="/success" class="btn btn-primary" role="button">SUCCESS PAGE</a>

<% include _scripts.ejs %>
<% include _foot.ejs %>
