<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>REGISTER</h1>
    <form action="/register" method="post">
      username: <input type="text" name="username" value="">
      <br/>
      password: <input type="text" name="password" value="">
      <br />
      <button type="submit" name="button">REGISTER</button>
    </form>
  </body>
</html>
