<% include _head.ejs %>
<% include _header.ejs %>

<h1>SUCCESS</h1>
<h3><%= message %></h2>

<a href="/register" class="btn btn-primary" role="button">REGISTER</a>
<a href="/login" class="btn btn-primary" role="button">LOGIN</a>

<% include _scripts.ejs %>
<% include _foot.ejs %>
